.series {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.series-entry,
.series-entry:visited,
.series-entry:active,
.series-entry:focus,
.series-entry:link {
  display: block;
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.series-kilimanjaro {
  background-color: #62C69880;
}

.series-entry:hover {
  opacity: 0.8;
}
